/*bandera Portugal*/
#portugal span{
    display:inline-block;
    width:500px;
    height:500px;
}
#portugal span:nth-child(1) 
{
    background-color:#006847;
    width:300px;
    height:500px;
}
#portugal span:nth-child(2)
 {
     background-color:#ce1126;
     position: absolute;
}

img{
  position: absolute;  
  top: 15%;
  left: 7%;
  width:25%;
  height:35%;
}   
